<% if not admin_status %>
	<%= controller.redirect_to '/' %>
<% else %>
<% @title = "Messages" %>
	<h1 class="text-center">Messages</h1>
	<table class="table table-striped table-hover">
		<thead>
			<tr class="text-center">
				<th scope="col" class="text-left">Name</th>
				<th scope="col">Date Created</th>
				<th scope="col">Read</th>
			</tr>
		</thead>

		<tbody>
			<% Message.all.reverse_each do |message| %>
				<tr class="text-center">
					<td scope="row" class="text-left">
						<%= link_to message.name, message_path(message), :class => "text-success" %>
					</td>
					<td scope="row">
						<%= message.created_at.strftime("%F") %>
					</td>
					<td scope="row">
						<% if message.is_read == 1 %>
							Read
						<% else %>
							Unread
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>